server:
  port: 8080
  servlet:
    context-path: /api/v1.0

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/moneymanager"
    username: root
    password: root

  mail:
    host: smtp-relay.brevo.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
      protocol: smtp

  profiles:
    active: prod

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  activation:
    url: ${MONEY_MANAGER_BACKEND_URL}
